* {
	box-sizing:border-box;
	margin:0;
	padding:0;
}

html {
	font-size:100%;
}

header, nav, aside, main, footer {
	display:block;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, "New Time Roman", serif;
}

ul {
	list-style-type:none;
}
	
a.nodecoration {
	text-decoration:none;
}

a:link {
	color:hsl(219,69%, 64%);
}

a:visited {
	color:hsl(30,100%,35%);
}

a:hover {
	color:hsl(30,100%,50%);
}

body {
	background-color:#deeaff;
	color:#333333;
	font-family:Verdana, Arial, sans-serif;
	font:1em/1.5em;
}

#wrapper {
	background-color:#fefefe;
	box-shadow:5px 5px 3px #787878;
	margin:1.5em auto;
	width:80%;
}

#three_columns {
	display:flex;
	flex-flow:row wrap;
}

header {
	background-color:#98baf8;
	background-image:radial-gradient(#ffffff,#6692e3);
	background-repeat:no-repeat;
	display:flex;
	flex-flow:row nowrap;
	/*height:7.5em;*/
	height:120px;
}

#logo {
	/*height:7.5em;*/
	/*width:12.5em;*/
	width:200px;
	height:120px;
}


h1 {
	flex:1;
	font-size:1.6em;
	padding-top:1.2em;
	text-align:center;
}


nav {
	background-color:#eaeaea;
	/*flex:2;*/
	text-align:center;
	width:200px;	
}

nav ul {
	display:flex;
	flex-direction:column;
}

nav ul li {
	padding:1em;
	flex:1;
}

nav a {
	background-color:#6692e3;
	border-radius:0.5em;
	box-shadow:5px 5px 3px #787878;
	color:#eeeeee;
	display:block;
	margin:0 auto;
	padding:0.5em;
	text-decoration:none;
	width:7.5em;
}

nav a:link {
	background-color:#6692e3;
	color:#eeeeee;
}

nav a:visited {
	background-color:hsl(219,69%,50%);
	color:hsl(30,69%,60%);
}

nav a:hover {
	background-color:hsl(219,69%,60%);
	color:hsl(30,100%,50%);
}

main {
	flex:6;
	line-height:150%;
	margin:1.5em;
}

h2 {
	font-size:1.2em;
	line-height:1.25em;
	margin-bottom:1em;}

h3 {
	color:hsl(10, 100%, 50%);
}

dt {
	font-weight:bold;
	font-size:1.125em;
	margin-bottom:1.33em;
}

dd {
	margin-bottom:1.5em;
}

aside {
	background-color: #eaeaea;
	flex:2;
	padding-left:1.5em;
	padding-right:1.5em;
	padding-top:1.5em;
}

footer {
	background-color:#98baf8;
	border-top:3px solid #787878;
	font:0.875em/1.714em;
	font-style:italic;
	padding-bottom:0.5em;
	padding-top:0.5em;
	text-align:center;
}

span {
	font-size:1em;
	font-weight:bold;
	font-style:italic;
}

/* home page */

.home_pic {
	float:right;
	margin-left:1.5em;   
	margin-top:1em;
}

img {
	max-width:100%;
}

/* products page*/
table {
	border:2px solid hsl(0,100%,18%);
	border-collapse:collapse;
	margin:1.5em auto;
	width:100%;		
}

thead {
	background-color:hsl(0,0%,90%);
	text-align:center;
}

tbody {
	text-align:center;
}

th, td {
	border:2px solid hsl(0,100%,18%);
}

td img {
	vertical-align:middle;
}

/* tr:nth-of-type(even) {background-color:hsl(0,0%,90%);} */

/* contact us page */
#gallery {
	position:relative;
}

li span {
	display:none;
}

a.nodecoration:hover span {
	display:block;
	font-style:normal;
	position:absolute;
	left:7.5em;
	top:0;
	text-align:center;
}
						   
.map {
	float:right;
	padding-right:0.5em;  
	padding-top:0.5em;
}
	  
.left {
	float:left;
}

.right {
	float:right;
	margin-left:0.5em;
}

/* responsive web design */

@media only screen and (max-width:1024px) {
	#three_columns {
		flex-flow:column;
	}
	
	nav {
		width:auto;
	}
	
	nav ul {
		flex-direction:row;
		justify-content:space-around;
	}
	
	aside>p, aside>h3 {
		padding-left:2em;
	}
	
	#logo {
		display:none;
	}
}

@media only screen and (max-width:768px) {

}
