* {box-sizing:border-box;margin:0;padding:0;font-size:16px;}

header, nav, aside, main, footer {display:block;}

h1, h2, h3, h4, h5, h6 {font-family: Georgia, "New Time Roman", serif;}

ul {list-style-type:none;}
li {display:block;
    margin:10px auto 20px;}
	
a.nodecoration {text-decoration:none;}

a:link {color:hsl(219,69%, 64%);
		}
a:visited {color:hsl(30,100%,35%);
		   }
a:hover {color:hsl(30,100%,50%);
		}

body {background-color:#deeaff;
      color:#333333;
      font-family:Verdana, Arial, sans-serif;
}

#wrapper {background-color:#fefefe;
	  box-shadow:5px 5px 3px #787878;
	  margin:30px auto;
	  width:80%;
}

#three_columns {display:flex;
		flex-flow:row wrap;}

header {background-color:#98baf8;
	background-image:radial-gradient(#ffffff,#6692e3);
	background-repeat:no-repeat;
	height:120px;
}

header a {background-image:url(images/logo.png);
	  display:block;
	  float:left;
	  height:120px;
	  width:200px;
}

nav {background-color:#eaeaea;
     padding-bottom:10px;
     padding-right:25px;
     padding-top:20px;
     text-align:center;
     flex:2;
}

nav a {background-color:#6692e3;
       border-radius:10px;
       box-shadow:5px 5px 3px #787878;
       color:#eeeeee;
       display:block;
       font-size:1.2rem;
       margin:0 auto;
       padding:10px 5px;
       text-decoration:none;
       width:120px;
}

nav a:link {background-color:#6692e3;
	    color:#eeeeee;
}
nav a:visited {background-color:hsl(219,69%,50%);
	       color:hsl(30,69%,60%);
}
nav a:hover {background-color:hsl(219,69%,60%);
	     color:hsl(30,100%,50%);
}

main {flex:6;
      line-height:150%;
      margin:30px 20px;
      text-align:justify;
}

h1 {font-size:2rem;
    padding-left:300px;
    padding-top:40px;
}

h2 {font-size:1.3em;
    margin-bottom:20px;}

h3 {color:hsl(10, 100%, 50%);
    font-size:1.1em;
}

dt {font-weight:bold;
    font-size:1.1em;
    padding-bottom:5px;
}

dd {margin-bottom:15px;}

aside {background-color: #eaeaea;
       flex:2;
       line-height:150%;
       padding-left:20px;
       padding-right:20px;
       padding-top:30px;
}

footer {background-color:#98baf8;
	border-top:3px solid #787878;
	font-size:0.8rem;
	font-style:italic;
	padding-bottom:10px;
	padding-top:5px;
	text-align:center;
}

span {font-size:1em;
      font-weight:bold;
      font-style:italic;
}

/* home page */

.home_pic {float:right;
	   margin-left:20px;   
	   margin-top:15px;
}

/* products page*/
table {border:2px solid hsl(0,100%,18%);
       border-collapse:collapse;
       margin:20px auto;
       width:100%;		
}

thead {background-color:hsl(0,0%,90%);
       text-align:center;
}

tbody {text-align:center;}

th, td {border:2px solid hsl(0,100%,18%);}

td img {vertical-align:middle;}

/* tr:nth-of-type(even) {background-color:hsl(0,0%,90%);} */

/* contact us page */
#gallery {position:relative;}

li span {display:none;}

a.nodecoration:hover span {display:block;
			   font-style:normal;
			   position:absolute;
			   left:120px;
			   top:0;
			   text-align:center;
}
						   
.map {float:right;
      padding-right:10px;  
      padding-top:10px;
}
	  
.left {float:left;}

.right {float:right;
	margin-left:10px;
}
